.parent{
  display :flex;
  width:100%;
  border: 2px solid lime;
}
.left{
  border:2px solid teal;
  width:30%;
  padding:2%;
  margin:2%;
  word-wrap: break-word;
}
.right{
  border: 2px solid maroon;
  width:70%;
  padding:2%;
  margin:2%;
}
img{
  border-radius: 50%;
  border: :1px solid red;
  width:80%;

}
hr{
  background-color: green;
}

#r{
  color: red;
}
#p{
  color: green;
}
#co{
  color: skyblue;
}
li{
  color:red;
  font-size: 15px;
}
#in{
  color: yellow;
}
#ls{
  color: magenta;
}
#acg{
  color: cyan;
}


.left{
  background-color: grey;
  border: 3px solid red;
  padding: 4%;
  text-align: center;
  margin: 3%;
  width:30%;
  box-decoration-break: slice;
  box-shadow: 8px 12px 28px black;
}
.right{
  background-color: #ddd;
  border: 3px solid red;
  padding: 4%;
  margin: 3%;
  width: 70%;
  box-shadow: 8px 12px 18px black;
}
.parent{
  background-color: green;
  border: 2px solid blue;
  display: flex;
  padding: 3%;
  flex-direction: row;
  word-break: break-all;
}
.img{
  border-radius: 50%;
  border: 3px solid orange;
  width:inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 12px 18px black;

}

@media only screen and (min-width:481px) and (max-width:768px)  {

  .left{
    background-color: skyblue;
    border: 3px solid red;
    padding: 4%;
    text-align: center;
    margin: 3%;
    width:80%;
    box-decoration-break: slice;
    box-shadow: 8px 12px 18px black;
    word-wrap: break-word;

  }
  .right{
    background-color: orange;
    border: 3px solid red;
    padding: 4%;
    margin: 3%;
    width: 80%;
    box-shadow: 8px 12px 18px black;
  }

  .parent{
    background-color: pink;
    border: 2px solid blue;
    display: flex;
    padding: 3%;
    width: inherit;
    word-break: break-all;
    flex-direction: row;
  }

  .td{
    word-break: break-all;
  }
  .img{
    border-radius: 50%;
    border: 3px solid orange;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 12px 18px black;

  }


}
@media only screen and (min-width:768px) and (max-width:1024px)  {
  .left{
    background-color: grey;
    border: 3px solid red;
    padding: 4%;
    text-align: center;
    margin: 3%;
    width:50%;
    box-decoration-break: slice;
    box-shadow: 8px 12px 18px black;
    word-wrap: break-word;

  }
  .right{
    background-color: blue;
    border: 3px solid red;
    padding: 4%;
    margin: 3%;
    width: 50%;
    box-shadow: 8px 12px 18px black;
  }

  .parent{
    background-color: skyblue;
    border: 2px solid blue;
    display: flex;
    padding: 3%;
    width: inherit;
    flex-direction: row;
  }
  .img{
    border-radius: 50%;
    border: 3px solid orange;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 12px 18px black;

  }
}
@media only screen and (min-width:360px) and (max-width:480px)  {
  .left{
    background-color: green;
    border: 3px solid red;
    padding: 4%;
    text-align: center;
    margin: 3%;
    width:80%;
    box-decoration-break: slice;
    box-shadow: 8px 12px 18px black;
    word-wrap: break-word;
    border-radius: 10%;

  }
  .right{
    background-color: blue;
    border: 3px solid red;
    padding: 4%;
    margin: 3%;
    width: 80%;
    box-shadow: 8px 12px 18px black;
    border-radius: 10%;
  }

  .parent{
    background-color: orange;
    border: 2px solid blue;
    display: flex;
    padding: 3%;
    width: inherit;
    flex-direction: column;
  }
  img{
    border-radius: 50%;
    border: 3px solid orange;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 12px 18px black;

  }
}
